<header class="intro-header" style="background-image: url('img/home.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Renan Augusto</h1>
                    <span class="subheading"><b>Programador, Viajante, 23 anos e apaixonado pelo litoral norte paulista.</b></span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div ng-repeat="post in Posts">
                <div class="post-preview">
                    <a href="{{post.rota}}">
                        <h2 class="post-title">
                            {{post.titulo}}
                        </h2>
                    </a>
                    <p class="post-meta">Postado por Renan em {{post.data}}</p>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>